# Server Configuration
PORT=<your_port_number>

# Database Configuration
MONGODB_URI=<your_mongodb_uri>

# JWT Configuration
JWT_SECRET=<your_jwt_secret_key>

# Cloudinary Configuration
CLOUD_NAME=<your_cloud_name>
CLOUD_API_KEY=<your_cloud_api_key>
CLOUD_API_SECRET=<your_cloud_api_secret>

# Email Configuration
EMAIL_USER=<your_email_user>
EMAIL_PASSWORD=<your_email_password>

# Twilio Configuration
TWILIO_ACCOUNT_SID=<your_twilio_account_sid>
TWILIO_AUTH_TOKEN=<your_twilio_auth_token>
TWILIO_PHONE_NUMBER=<your_twilio_phone_number>

# Razorpay Credentials for Payment Gateway
RAZORPAY_KEY_ID=<your_razorpay_key_id>
RAZORPAY_KEY_SECRET=<your_razorpay_key_secret>
RAZORPAY_ACCOUNT_NUMBER=<your_razorpay_account_number>